@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

header {
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
  width: 100%;
  background-color: #2e2e2e; /* giallo f4cd58*/
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; /* Impedisce scroll orizzontale nell’header */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: #f4cd58;
}

.desktop-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-menu li {
  margin-left: 30px;
}

.desktop-menu a {
  color: #f4cd58;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.desktop-menu a:hover {
  color: #ffffff;
}

.burger-menu {
  display: none;
  font-size: 32px; /* Icona più grande */
  cursor: pointer;
  color: #f4cd58;
  padding: 10px;
  border-radius: 8px; /* Angoli arrotondati */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 70px; /* Spazio sotto l’header */
  right: 0;
  width: 250px; /* Più largo */
  background-color: #2e2e2e;
  border-radius: 12px 0 0 12px; /* Angoli arrotondati a sinistra */
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out; /* Animazione fluida */
  z-index: 99;
}

.mobile-menu.active {
  display: block;
  transform: translateX(0);
}

.mobile-menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.mobile-menu li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.mobile-menu li:last-child {
  border-bottom: none;
}

.mobile-menu a {
  color: #f4cd58;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px; /* Testo più grande */
  transition: color 0.3s ease;
}
.mobile-menu a:hover {
  color: #f4cd58; /* Colore tema su hover */
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .burger-menu {
    display: flex;
    align-items: center;
  }
}
